@media (min-width: 768px) {
  .boxA:after {
    content : "";
    display : block;
    clear: both;
  }

  .box2 {
    float : left;
    width : 70%;
  }

  .box3 {
    float : left;
    width : 30%;
  }
}
