@media (min-width: 768px) {
  .boxA:after {
    content: "";
    display: block;
    clear: both;
  }

  .boxB {
    float: left;
    width: 80%;
  }

  .box4 {
    float: left;
    width: 20%;
  }
}

@media (min-width: 600px) {
  .boxB:after {
    content: "";
    display: block;
    clear: both;
  }

  .box2 {
    float : right;
    width : 75%;
  }

  .box3 {
    float : left;
    width: 25%;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .boxA:after {
    content: "";
    display: block;
    clear: both;
  }

  .boxB {
    float: left;
    width: 100%;
  }

  .box4 {
    float: left;
    width: 100%;
  }
}
