@@charset "UTF-8";
body {
  font-family: '맑은 고딕','Apple SD Gothic Neo', sans-serif;
}

.site h1 a {
  color : #000000;
  text-decoration: none;
}

.site h1 {
  margin: 0;
  font-size : 30px;
}

.site p {
  margin : 0;
  font-size : 12px;
}

.story h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 36px;
}

.story p {
  margin-top: 0;
  margin-bottom: 20px;
}

/* 메뉴 세로 정렬 */
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li a {
  display: block;
  padding: 5px;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.menu li a:hover {
  background: #eeeeee;
}

/* 메뉴 가로 정렬 */
.menu.horizontal ul:after {
  content: "";
  display: block;
  clear: both;
}

.menu.horizontal li {
  float: left;
  width: auto;
}

/* 저작권 */
.copyright p {
  margin: 0;
  color: #666666;
  font-size: 14px;
}
